# RETRIEVE FROM SUPABASE CREDENTIALS go to https://supabase.com/dashboard/org/
VITE_SUPABASE_URL= https://omowxmgpxkdsfbefudwn.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tb3d4bWdweGtkc2ZiZWZ1ZHduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIyOTgxMjQsImV4cCI6MjA3Nzg3NDEyNH0.Ydsw4wwVmjg80On_weiym6Kj7Qp85ykCtx6LtJyhW4k